<div class="wrapper">
  <div class="row">
    <div class="sidebar" data-color="purple">

      <div class="logo">
        <a href=#" class="simple-text">
          <img src="/assets/img/logo.png" style="width:150px;">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="/">
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/history">
              <p>History</p>
            </a>
          </li>
          <li>
            <a href="/analytics">
              <p>Analytics</p>
            </a>
          </li>
          <li>
            <a href="/account">
              <p>Account</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Signout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 main">
      {{outlet}}
    </div>
  </div>
</div>
