<div class="wrapper">
  <div class="row">
    <div class="sidebar" data-color="purple">

      <div class="logo">
        <a href=#" class="simple-text">
          <img src="/assets/img/logo.png" style="width:150px;">
        </a>
      </div>
      <div class="sidebar-wrapper">


        {{#if session.isAuthenticated}}

          <ul class="nav">
            {{#link-to 'index' tagName='li'}}
              <a>
                <p>Dashboard</p>
              </a>
            {{/link-to}}
            {{#link-to 'history' tagName='li'}}
              <a>
                <p>History</p>
              </a>
            {{/link-to}}
            {{#link-to 'analytics' tagName='li'}}
              <a>
                <p>Analytics</p>
              </a>
            {{/link-to}}
            {{#link-to 'account' tagName='li'}}
              <a>
                <p>Account</p>
              </a>
            {{/link-to}}
            <li>
              <a href="#" {{action 'invalidateSession'}}>
                <p>Signout</p>
              </a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
    <div class="col-sm-12 col-md-12 main">
      {{outlet}}
    </div>
  </div>
</div>
