<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card card-stats">
              <div class="card-header" data-background-color="orange">
                <i class="material-icons"><img style="max-width:30px;" src="/assets/img/incoming.png"></i>
              </div>
              <div class="card-content">
                <p class="category">Monthly Money in</p>
                <h3 class="title">&euro; 2000</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  June 2017
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card card-stats">
              <div class="card-header" data-background-color="red">
                <i class="material-icons"><img style="max-width:30px;" src="/assets/img/outgoing.png"></i>
              </div>
              <div class="card-content">
                <p class="category">Monthly Money out</p>
                <h3 class="title">&euro; 2100</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger" style="font-size:12px; line-height:17px; ">&euro; 100 more than
                    Money in</i><br>
                </div>
                <div class="stats" style="display:block">
                  June 2017
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card card-stats">
              <div class="card-header" data-background-color="green">
                <i class="material-icons"><img style="max-width:30px;" src="/assets/img/fig-icon.png"></i>
              </div>
              <div class="card-content">
                <p class="category">Fig Payments</p>
                <h3 class="title">&euro; 700</h3>
              </div>
              <div class="card-footer">

                <div class="stats">
                  June 2017
                </div>
              </div>
            </div>
          </div>
        </div>


    </div>
    <div class="row" style="margin-top:30px;">
      <div class="card">
        <div class="col-sm-12">
          <div>
            {{bar-graph}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

