page-home {
  .content {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      filter: blur(69px);

      background-color: rgba(#fff, .5);
    }

    .pay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100px;
      height: 100px;

      border-radius: 50%;
    }

    .logo {
      position: absolute;
      bottom: 5px;
      right: 5px;

      width: 69px;
    }
  }
}
